.heading {
    background-color: black;
    height:200px;

}
h1 {
color:white;
text-align: center
}

.card {
    margin-top: 10px;
}

th {
    padding:5px 15px;
    border-bottom: 1px solid black;
}

td {
    padding:5px 15px;
    border-bottom: 1px solid grey;
}

#recordTable {
    margin: 0 auto

}

.form-control {
    max-width: 800px;
}